@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

.nav_class{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}
.header_img{
    width: 10%;
    margin-left: 10rem;
}
.header_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 10rem;
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration: none;
}
.header_li0{
    margin-left: -3rem;
}
.header_li0:hover{
    color: #20b7c5;
}
a {
    color: #444;
}
a:hover{
    color: #20b7c5;
}
.header_li{
    padding-left: 7rem;
    text-decoration: none;
}
.header_li:hover{
    color: #20b7c5;
}
.header_button{
    margin-left: 15rem;
    width: 10%;
}
.header_menu{
    margin-left: 9rem;
    width: 1%;
}
.header_button2{
    position: absolute;
    margin-left: 44rem;
}
.header_button3{
    position: absolute;
    margin-left: 55rem;
}
.header_button4{
    position: absolute;
    margin-left: 65rem;
}
.header_button5{
    position: absolute;
    margin-left: 74rem;
}
.header_button6{
    position: absolute;
    margin-left: 83rem;
}
.headerli_ul{
    display: none;
    position: absolute;
    background-color: #444;
    padding: 1rem 3rem;
    list-style: none;
}
.header_li:hover .headerli_ul{
    display: block;
}
.li0{
    padding-top: 1rem;
    color: #fff;
}
.header_li a{
    text-decoration: none;
}
.div_0{
    background-color: #BEE1E6;
    height: 700px;
}
.img_0{
    margin-top: 5rem;
    margin-left: 10rem;
}
.p_0{
    margin-left: 10rem;
    font-family: 'Roboto';
    font-size: 60px;
    font-weight: bold;
}
.p_1{
    margin-left: 10rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.img_1{
    margin-left: 10rem;
    margin-top: 5rem;
}
.img_2{
    margin-left: 10rem;
}
.img_3{
    position: absolute;
    margin-left: 30rem;
    margin-top: -25rem;
    width: 500px;
}
.div_1{
    margin-top: 5rem;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
.img_4{
    width: 300px;
    margin-left: 5rem;
    margin-top: 5rem;
}
.img_5{
    margin-left: 20rem;
}
.img_6{
    margin-left: 15rem;
    margin-top: 10rem;
}
.img_7{
    position: absolute;
    margin-top: 31rem;
    margin-left: -4rem;
}
.img_8{
    position: absolute;
    margin-left: 15rem;
    margin-top: 10rem;
}
.p_2{
    position: absolute;
    margin-left: 60rem;
    margin-top: -30rem;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
}
.p_3{
    position: absolute;
    margin-left: 60rem;
    margin-top: -22rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.img_9{
    margin-left: 12rem;
    margin-top: 28rem;
    position: absolute;
}
.p_4{
    margin-left: 66rem;
    margin-top: -16rem;
    position: absolute;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}
.p_5{
    margin-left: 66rem;
    margin-top: -13rem;
    position: absolute;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.img_10{
    margin-left: 12rem;
    margin-top: 38rem;
    position: absolute;
}
.p_6{
    margin-left: 66rem;
    margin-top: -6rem;
    position: absolute;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}
.p_7{
    margin-left: 66rem;
    margin-top: -3rem;
    position: absolute;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.h_0{
    margin-top: 10rem;
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
}
.p_8{
    margin-top: 3rem;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.img_11{
    margin-left: 10rem;
    margin-top: 3rem;
}
.p_9{
    margin-left: 15rem;
    margin-top: -3rem;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
}
.p_10{
    margin-left: 15rem;
    margin-top: 2rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.img_12{
    position: absolute;
    margin-left: 50rem;
    margin-top: -10rem;
}
.p_11{
    position: absolute;
    margin-left: 55rem;
    margin-top: -9.5rem;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
}
.p_12{
    position: absolute;
    margin-left: 55rem;
    margin-top: -6rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.img_13{
    position: absolute;
    margin-left: 80rem;
    margin-top: -10rem;
}
.p_13{
    position: absolute;
    margin-left: 85rem;
    margin-top: -9.5rem;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
}
.p_14{
    position: absolute;
    margin-left: 85rem;
    margin-top: -6rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}
.div_3{
    height: 700px;
    background-color: #d5f1f5;
}
.img_14{
    margin-left: 10rem;
    margin-top: 5rem;
}
.h_1{
    margin-left: 10rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
}
.p_15{
    margin-left: 10rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    margin-top: 4rem;
}
.img_15{
    margin-top: 5rem;
    margin-left: 10rem;
}
.p_16{
    margin-left: 15rem;
    margin-top: -3rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}
.p_17{
    margin-left: 15rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.img_16{
    position: absolute;
    margin-top: -8.5rem;
    margin-left: 40rem;
}
.p_18{
    margin-left: 45rem;
    margin-top: -8rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}
.p_19{
    margin-left: 45rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.img_17{
    position: absolute;
    margin-left: 70rem;
    margin-top: -33rem;
    width: 450px;
}
.img_18{
    position: absolute;
    margin-left: 93rem;
    margin-top: -9rem;
}
.footer{
    background-color: #fff;
    height: 500px;
}
.footer_img{
    margin-top: 5rem;
    margin-left: 10rem;
}
.footer_p{
    margin-top: 1rem;
    margin-left: 11rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}
.footer_p0{
    margin-top: 1rem;
    margin-left: 11rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
.footer_p1{
    margin-left: 35rem;
    margin-top: -13rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}
.footer_p2{
    margin-left: 55rem;
    margin-top: -2.5rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}
.footer_p3{
    margin-left: 75rem;
    margin-top: -2.5rem;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}
.footer_img1{
    margin-left: 35rem;
    padding-top: 2rem;
}
.footer_ul{
    margin-left: 35rem;
    list-style: none;
    margin-top: -13rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #929292;
}
.footer_li{
    padding-top: 2rem;
}
.footer_img2{
    margin-left: 55rem;
    margin-top: -12rem;
    position: absolute;
}
.footer_img3{
    margin-left: 55rem;
    margin-top: -10rem;
    position: absolute;
}
.footer_img4{
    margin-left: 55rem;
    margin-top: -8rem;
    position: absolute;
}
.footer_img5{
    margin-left: 55rem;
    margin-top: -6rem;
    position: absolute;
}
.footer_ul1{
    margin-left: 55rem;
    list-style: none;
    margin-top: -18.8rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #929292;
}
.footer_li1{
    padding-top: 2rem;
}
.footer_img6{
    margin-left: 75rem;
    margin-top: -11.5rem;
    position: absolute;
}
.footer_img7{
    margin-left: 75rem;
    margin-top: -9rem;
    position: absolute;
}
.footer_img8{
    margin-left: 75rem;
    margin-top: -7rem;
    position: absolute;
}
.footer_ul2{
    margin-left: 75rem;
    list-style: none;
    margin-top: -17rem;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #929292;
}
.footer_li2{
    padding-top: 2rem;
}
.footer_div{
    background-color: #006D77;
    height: 150px;
    margin-top: 10rem;
}
.p_20{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    position: absolute;
    margin-top: 6rem;
   margin-left: 50rem;
}